__pycache__/
*.py[cod]
*$py.class
.DS_Store

.venv/
venv/
env/
ENV/

.idea/
.vscode/
*.swp
*.swo

data/videos/
data/poses/
data/raw/
data/ntu_converted/
data/ntu60_2d.pkl
*.rar
*.zip
*.tar.gz
*.mp4
*.avi
*.mov

motion/models/*.pt
motion/models/*.pth
!motion/models/action_personal.pt
motion/models/epochs_*.json
!motion/models/epochs_LR-A.json
ml/runs/
ml/train.log
data/personal/

notebooks/.ipynb_checkpoints/
